<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campanhas Vida Card</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <h1>Campanhas Vida Card</h1>
    </header>

    <!-- Section com Container e Divs lado a lado -->
    <section>
        <div class="container">
            <div class="left-content">
                <h2>Campanhas</h2>
                <ul>
                    {% for file in campanhas %}
                        <li>
                            {{ file.name }}
                            - <a href="{{ file.webViewLink }}" target="_blank">Visualizar</a>
                            - <a href="{{ file.webContentLink }}" target="_blank">Download</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="right-content">
                <h2>Materiais de Apoio</h2>
                <ul>
                    {% for file in materiais_apoio %}
                        <li>
                            {{ file.name }}
                            - <a href="{{ file.webViewLink }}" target="_blank">Visualizar</a>
                            - <a href="{{ file.webContentLink }}" target="_blank">Download</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</body>
</html>
